

.container {
    margin-top: 400px;
    

        .slogan--form {
            margin-top: 400px;
            display: flex;

            .slogan--name {
                display: block;
                
                margin: 10px;
                padding: 5px;
            }

            .slogan--email {
                display: block;
                ;
                margin: 10px;
                padding: 5px;
            }

            .slogan--idea {
                display: block;
                
                margin: 10px;
                padding: 5px;
            }
        }
    }