// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

* {
    background: white;
    margin: 0px;
}

.hero {
    background: orange;
}

.logo {
    width: 300px !important;
    height: 100px !important;
    margin: 0 20px;
    padding: 0 !important;
}

.jumbotron--picture {
    width: 100%;
    height: auto;
}

.navbar {
    padding: 0;
    margin: 0 20px;
    background: black;
    color: white;
}

img {
    border-radius: 10px;
}