// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

* { 
    background: white;
    margin: 0px;
} 

.logo {
    width: 300px !important;
    height: 100px !important;
    margin-left: 150px  !important;
    padding: 0 !important;
}

.jumbotron--picture {
    width: 350px;
    height: 600px;
}

.navbar {
    padding: 0;
    margin: 0;
    background: black;
    color: white;
}

.column-level-left {
    .title {
        text-align: center;
    }
}